# This file exists in source control. Do not add sensitive information to this file!

# Instead, copy this file into a new file named app.env. Note that app.env is ignored in the top-level .gitignore:
# cp app.env.example app.env

# Then, edit app.env by uncommenting either the bash-compatible or fish section and supplying the environment variables. Source app.env before starting the server:
# source app.env


# For bash-compatible shells:
# export SECRET_KEY=""
# export ALLOWED_HOSTS=""
# export DB_NAME=""
# export DB_USER=""
# export DB_PASSWORD=""
# export DB_HOST=""
# export DB_PORT=""
# export SITE_DOMAIN=""
# export AWS_ACCESS_KEY_ID=""
# export AWS_SECRET_ACCESS_KEY=""
# export AWS_STORAGE_BUCKET_NAME=""
# export AWS_STORAGE_BUCKET_LOCATION=""


# For fish shell:
# set -x SECRET_KEY ''
# set -x ALLOWED_HOSTS ''
# set -x DB_NAME ''
# set -x DB_USER ''
# set -x DB_PASSWORD ''
# set -x DB_HOST ''
# set -x DB_PORT ''
# set -x SITE_DOMAIN ''
# set -x AWS_ACCESS_KEY_ID ''
# set -x AWS_SECRET_ACCESS_KEY ''
# set -x AWS_STORAGE_BUCKET_NAME ''
# set -x AWS_STORAGE_BUCKET_LOCATION ''
