{% extends 'racket_stringer/base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">Login</div>
            <div class="card-body">
                <div class="row mt-3">
                    <div class="col-sm-4 mx-auto">
                        <form method="post">
                            <div class="form-group">
                                {% csrf_token %}
                                <label for="id_username" class="sr-only">Username</label>
                                <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" required autofocus>
                                <label for="id_password" class="sr-only">Password</label>
                                <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
                            </div>
                            <button class="btn btn-primary float-right" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
