{% extends "racket_stringer/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">Delete Order:  {{ object }}</div>
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-sm-6 mx-auto">
                        <form method="post">{% csrf_token %}
                            <div class="text-center">
                            <p>Are you sure you want to delete "{{ object }}"?</p>
                            <a class="btn btn-info" href="{% url 'show_order' object.id %}" role="button">No, go back.</a>
                            <input class="btn btn-danger" type="submit" value="Yes, delete." />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
